apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: catalogix-services
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Values.global.targetNamespace | default "catalogix" }}
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - user-service
          - product-service
          - frontend-service 
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
      scrapeTimeout: 10s