name: Terraform Destroy

on:
  workflow_dispatch: # This allows manual triggering from the UI

env:
  AWS_REGION: ap-south-1
  TF_VAR_project_name: ${{ vars.PROJECT_NAME }}
  # ... Add all other TF_VAR_ mappings from your tf-infra.yaml here

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/terraform-setup
        with:
          AWS_REGION: ${{ env.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Destroy
        working-directory: terraform/envs/dev
        run: |
          terraform init
          terraform destroy -auto-approve -input=false